<mat-card class="example-card">
  <mat-card-header>
    <div class="title">
      <mat-card-title>Estado de Actividad</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="standard" style="width: 100%;">
      <mat-label>Busqueda Rapida</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nombre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="example-container">
      <table mat-table [dataSource]="dataSource" style="width: 99%; margin: auto;" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> <b>NRO</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <b>NOMBRE</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Actions Column -->
        <ng-container matColumnDef="actionsColumn">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;">
            <button mat-icon-button color="accent" matTooltip="Nuevo" (click)="addNew()">
              <i class="material-icons">add</i>
            </button>
          </th>
          <td mat-cell *matCellDef="let row; let i=index;" style="text-align: right;">
            <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" matTooltip="Modificar" (click)="startEdit(row)">
              <i class="material-icons md-18">create</i>
            </button>
            <button mat-icon-button color="warn" focusable="false" matTooltip="Eliminar" (click)="deleteItem(row)">
              <i class="material-icons md-18">delete_outline</i>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="loading-shade" *ngIf="isLoading">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-card-content>

  <mat-paginator [length]="recordsFound"  [pageSize]="pageSize" [pageSizeOptions]="[1, 10, 25, 100]" (page)="paginator($event)"></mat-paginator>
</mat-card>