<div class="container">
	<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form class="example-form" (keydown.enter)="login()">
				<mat-form-field appearance="outline" class="example-full-width">
					<mat-select placeholder="Elegir proveedor" [(value)]="provider.code" name="code" required>
						<mat-option *ngFor="let provider of providers" [value]="provider.code">
							{{provider.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="outline" class="example-full-width">
					<mat-label>Usuario</mat-label>
					<input matInput placeholder="Usuario" [(ngModel)]="username" name="username" [formControl]="userFormControl" [errorStateMatcher]="matcher" required>
					<mat-icon matSuffix>account_circle</mat-icon>
					<mat-error *ngIf="userFormControl.invalid">
						{{getErrorMessage(1)}}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="example-full-width">
					<mat-label>Contraseña</mat-label>
					<input matInput placeholder="Contraseña" [(ngModel)]="password" name="password"  type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" required>
					<mat-icon matSuffix>vpn_key</mat-icon>
					<mat-error *ngIf="passwordFormControl.invalid">
						{{getErrorMessage(2)}}
					</mat-error>
				</mat-form-field>
			</form>
			<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
			<mat-label class="error" [ngStyle]="{'display': !error ? 'none' : 'block' }">Usuario y/o Password incorrectos</mat-label>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" [disabled]="userFormControl.invalid || passwordFormControl.invalid" (click)="login()">Auntenticar</button>
		</mat-card-actions>
	</mat-card>
</div>