<div class="container">
  <h3 mat-dialog-title>Cambio de contraseña</h3>

  <form class="mat-dialog-content" [formGroup]="form">   
    <div class="form">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Ingrese contraseña actual</mat-label>
        <input matInput #input placeholder="Contraseña actual" [(ngModel)]="password1" name="password1" [type]="hide1 ? 'password' : 'text'" 
        formControlName="password" [errorStateMatcher]="matcher" required>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['password'].invalid && !pass">{{getErrorMessage('password')}}</mat-error>
        <mat-error *ngIf="form.controls['password'].invalid && pass">Contraseña incorrecta</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Ingrese contraseña nueva</mat-label>
        <input matInput #input placeholder="Contraseña nueva" [(ngModel)]="password2" name="password2" [type]="hide2 ? 'password' : 'text'" 
        formControlName="newPassword" [errorStateMatcher]="errorMatcher">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['newPassword'].invalid">{{getErrorMessage('newPassword')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Repita contraseña nueva</mat-label>
        <input matInput #input placeholder="Contraseña nueva" [(ngModel)]="password3" name="password3" [type]="hide3 ? 'password' : 'text'" 
        formControlName="verifyPassword" [errorStateMatcher]="errorMatcher">
        <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
          <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['verifyPassword'].invalid">{{getErrorMessage('verifyPassword')}}</mat-error>
        <mat-error *ngIf="form.hasError('passwordsDoNotMatch')">Las contraseñas no coinciden</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!this.form.controls['password'].valid || !this.form.controls['newPassword'].valid || !this.form.controls['verifyPassword'].valid || form.hasError('passwordsDoNotMatch')" (click)="change()">Guardar</button>
      <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    </div>
  </form>
</div>